<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white"> ... يتم معالجة طلبك ,الرجاء الانتظار</p>
</ngx-spinner>

<div class="section" *ngIf="cartTotal > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title text-right">
            <h3 class="title">تفاصيل عنوان الشحن</h3>
          </div>
          <div class="form-group">
            <input class="input" type="text" name="first-name" placeholder="الاسم">
          </div>
          <div class="form-group">
            <input class="input" type="tel" placeholder="رقم هاتف المستلم" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          </div>
          <div class="form-group">
            <select class="input">
              <option disabled selected>إختر المدينة</option>
              <option>الجفرة</option>
              <option>الشاطئ</option>
              <option>تمنهنت</option>
              <option>سبها</option>
            </select>
          </div>
          <div class="form-group">
            <input class="input" type="text" name="address" placeholder="الحي السكني">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="city" placeholder="أقرب نقطة دالة">
          </div>
          <div class="form-group">
            <select class="input">
              <option disabled selected>طريقة الدفع</option>
              <option>نقدي</option>
              <option>خدمة كاش</option>
            </select>
          </div>
<!--          <div class="form-group">-->
<!--            <input class="input" type="text" name="zip-code" placeholder="ZIP Code">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <input class="input" type="tel" name="tel" placeholder="Telephone">-->
<!--          </div>-->
          <div class="form-group">
            <div class="input-checkbox">
              <input type="checkbox" id="create-account">
              <label for="create-account">
                <span></span>
                Create Account?
              </label>
              <div class="caption">
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>-->
                <input class="input" type="password" name="password" placeholder="Enter Your Password">
              </div>
            </div>
          </div>
        </div>
        <!-- /Billing Details -->

        <!-- Shiping Details -->
        <div class="shiping-details">
<!--          <div class="section-title">-->
<!--            <h3 class="title"></h3>-->
<!--          </div>-->
          <div class="input-checkbox">
            <input type="checkbox" id="shiping-address">
            <label for="shiping-address">
              <span></span>
              Ship to a diffrent address?
            </label>
            <div class="caption">
              <div class="form-group">
                <input class="input" type="text" name="first-name" placeholder="First Name">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="last-name" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input class="input" type="email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="address" placeholder="Address">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="city" placeholder="City">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="country" placeholder="Country">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
              </div>
              <div class="form-group">
                <input class="input" type="tel" name="tel" placeholder="Telephone">
              </div>
            </div>
          </div>
        </div>
        <!-- /Shiping Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="أضف اي تفاصيل او ملاحظات"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">تفاصيل الطلب</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>المنتج</strong></div>
            <div><strong>القيمة</strong></div>
          </div>
          <div class="order-products" *ngFor="let c of cartData.data">
            <div class="order-col">
              <div>{{c.numInCart}} * {{c.product.name}}</div>
              <div>{{c.product.price * c.numInCart | currency: 'د.ل'}}</div>
            </div>
          </div>
          <div class="order-col">
            <div>التوصيل</div>
            <div> <strong> للاطلاع علي اسعار التوصيل</strong> <a href="#"> هنا </a></div>
          </div>
          <div class="order-col">
            <div><strong>المجموع</strong></div>
            <div><strong class="order-total">{{cartTotal | currency: 'د.ل '}}</strong></div>
          </div>
        </div>

<!--        <div class="input-checkbox">-->
<!--          <input type="checkbox" id="terms">-->
<!--          <label for="terms">-->
<!--            <span></span>-->
<!--            I've read and accept the <a href="#">terms & conditions</a>-->
<!--          </label>-->
<!--        </div>-->
        <button  class="btn btn-outline-danger btn-sm my-2 btn-block order-submit " (click)="onCheckout()">تأكيد الطلب</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
<!--  when cart is empty-->
<div class="text-center my-5" *ngIf="cartData.total <=0">
  <h4> ليس لديك منتجات في السلة</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">العودة الي المتجر</button>
</div>
